DEVELOPMENT_DATABASE_URL="postgres://zbswszuf:cG2bx6AmotQuBkkTVWwbvS_d9hqNIgIH@castor.db.elephantsql.com/zbswszuf"
PRODUCTION_DATABASE_URL="postgres://nrrvyrxr:PFfHdjSwtcpkkMfJT4oCQsGpxVKf1wBq@castor.db.elephantsql.com/nrrvyrxr"
